<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
</head>
<body>
	<%- include ('partials/sidenav') %>

	<style>
		.main {
			margin-left: 20%;
			/* Same as the width of the sidenav */
			font-size: 15px;
			/* Increased text to enable scrolling */
			padding: 0px 10px;
		}

		.card {
			margin-left: 20%;
		}

		.table-news {
			border: black;
			border-width: thick;

		}

		.table-data {
			font-family: 'Segoe UI';
		}
	</style>

<<<<<<< HEAD
<div class="main">
    <table class="table-news">
        <thead>
            <tr>
                <th>Title</th>
                <th>See full article:</th>
            </tr>
        </thead>
        <tbody>
            <% articles.forEach( function(a) { %>
            <tr>
                <td class="table-data">
                    <hr style="border-color : transparent"><%= a.title %> </td>
                <td class="table-data">
                    <hr style="border-color : transparent"><a href="<%= a.link %>"><%= a.link %></a> </td>
            </tr>
            <% }) %>
        </tbody>
    </table>
</div>
<div class="push"></div>

<%- include ('partials/footer') %>
=======
	<div class="main">
		<table class="table-news">
			<thead>
				<tr>
					<th>Title</th>
					<th>See full article:</th>
				</tr>
			</thead>
			<tbody>
				<% articles.forEach( function(a) { %>
				<tr>
					<td class="table-data">
						<hr style="border-color : transparent"><%= a.title %> </td>
					<td class="table-data">
						<hr style="border-color : transparent"><a href="<%= a.link %>"><%= a.link %></a> </td>
				</tr>
				<% }) %>
			</tbody>
		</table>
	</div>
	<div class="push"></div>
</body>
</html>
>>>>>>> ba474bd07e4a7176909350cfb5248c063ef8b604
